.main {
  display: flex;
  justify-content: center;
}

.content {
  width: 51rem;
  background: var(--gray-400);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.isDone {
  margin: 2rem 1rem 2rem 1rem;
  color: var(--blue);
}

.listContent {
  color: white;
}

.content button {
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
  padding-right: 1rem;
}
