.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 51rem;
  margin: auto;
}

.tasksHead {
  margin-top: 7.18rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.tasksCreated {
 color: var(--blue);
}

.tasksDone {
  color: var(--purple)
}

.line {
  margin-bottom: 4rem;
  border-top: 2px solid var(--gray-200);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin-bottom: 1rem;
}

.empty p:first-child {
  font-weight: 700;
}

.empty p:last-child {
  font-weight: 400;
}
