.taskForm {
  margin-top: -1.5rem;
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.inputTask {
  width: 46rem;
  background: var(--gray-400);
  border-radius: 8px;
  text-align: left;
  padding-left: 1rem;
}

.inputButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 5rem;
  height: 3rem;

  background: var(--blueDark);
  color: var(--white);
  border-radius: 8px;
  font-size: .87rem;

  gap: .3rem;
}
