:root {
  --white: #FFFFFF;

  --gray-200: #808080;
  --gray-400: #262626;
  --gray-600: #191919;
  --gray-800: #161616;

  --purple: #8284FA;
  --purpleDark: #5E60CE;

  --blue: #4EA8DE;
  --blueDark: #1E6F9F;

  --danger: #E25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-600);
  color: var(--gray-200);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
